# Latex files

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.tui
*.top
*.tmp
*.mp
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
Paper/ECAI/tabular.pdf

# Mac IDE files
*.swp
*~
*(Autosaved).rtfd/
Backup[ ]of[ ]*.pages/
Backup[ ]of[ ]*.key/
Backup[ ]of[ ]*.numbers/

# Mac finder files and hidden folders
.DS_Store
Code/.idea

# Python
__pycache__/

Paper/.idea/

#virtual environment
Code/src/tacle/virt/
Code/src/comparison.pdf
Code/src/benchmark_tutorials.pdf
Code/src/benchmark_test.pdf
Code/src/benchmark_exercises.pdf
Code/src/benchmark_data.pdf
/Paper/ECAI/example.eps
/Code/data/speed_tests
