<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
    <script src="{{ url_for('static', filename='papaparse.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-2.1.1.js') }}"></script>
    <script src="{{ url_for('static', filename='react/react.js') }}"></script>
    <script src="{{ url_for('static', filename='react/react-dom.js') }}"></script>
    <script src="{{ url_for('static', filename='select-compiled.js') }}"></script>
</head>
<body>
    <div class="full"></div>
</body>
</html>
